<!DOCTYPE html>
<html>
<head>
    <title>Default Page</title>
</head>
<body>
    <form method="get" action="Name.cshtml">
        <label for="name">Enter name:</label>
        <input type="text" id="name" name="name">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
